<!DOCTYPE html>
<html>
<head>
  <title>Thank you!</title>
  <title>Electronic Badge - Orena Solutions</title>
  <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("prof.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
    position: absolute;
    bottom: 20%;
    right: 55%;
}
.test{
  height:1000px;
  
}
</style>
</head>

<body>
  <div align="center">
        <img src="./static/ty.png" class="img-responsive">
  </div>
  <div align="center">

      <button type="submit" class="btn btn-primary" onclick="location.href='https://www.orena.solutions/'">
            <b>Go to Orena Solutions</b>
      </button>

  </div>

</body>
</html>